In [436]:
import pandas as pd
import numpy as np
import math

In [432]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data', 
                         names = ['idade',
                                 'sexo',
                                 'tipo_de_dores',
                                 'pressao_sanguinea',
                                 'colesterol',
                                 'acucar_no_sangue',
                                 'rest_ecg?',
                                 'maior_indice_de_batimentos',
                                 'exang',
                                 'oldpeak',
                                 'slope',
                                 'ca',
                                 'thal',
                                'num'])

In [465]:
class tratar_dados:

    def conferir_faltantes(coluna, identidade_nulo):
        dados = coluna
        valores_nulos = []
        x = 0
        for i in dados:
            if dados[x] == identidade_nulo:
                return True
            x = x + 1
        return False
    
    def conferir_dados(coluna):
        try:
            x = 0
            for i in coluna:
                coluna[x] = int(coluna[x])
                x = x + 1
            valor_max = f"O valor máximo encontrado foi: {coluna.max()}"
            valor_min = f"O valor mínimo encontrado foi: {coluna.min()}"
            valor_med = f"A média entre os valores é: {coluna.mean()}"
            desvio_padrao = f"O desvio padrão é: {coluna.std()}"
            variancia = f"A variância é: {coluna.var()}"
            desvio_absoluto = f"O desvio absoluto é: {coluna.mad()}"
            mediana = f"A mediana é igual a {coluna.median()}"
            valores = [valor_max, valor_min, valor_med, desvio_padrao, variancia, desvio_absoluto, mediana]
            return valores
        
        except ValueError:
            print('Ops, algum erro ocorreu!')
        
    
    def tratar_faltantes(coluna, identidade_nulo):
        dados = coluna
        valores_normais = []
        x = 0
        for i in dados:
            if dados[x] != identidade_nulo:
                valores_normais.append(dados[x])
            x = x + 1

        valores_normais = np.array(valores_normais).astype(np.float)

        x = 0

        for i in dados:
            if dados[x] == identidade_nulo:
                dados[x] = int(valores_normais.mean())
            x = x + 1
            
    def checar_dataset(dataset, identidade_nulo):
        df = dataset
        ccdf = [] #ccdf = colunas com dados faltantes
        for i in df:
            is_null = tratar_dados.conferir_faltantes(df[i], identidade_nulo)
            ccdf.append(is_null)
        return ccdf
    
    def tratar_dataset(dataset, identidade_nulo):
        df = dataset
        for i in df:
            if tratar_dados.conferir_faltantes(df[i], identidade_nulo) == True:
                tratar_dados.tratar_faltantes(df[i], identidade_nulo)
                
                
    def mostrar_dados(coluna):
        try:
            x = 0
            for i in coluna:
                coluna[x] = int(coluna[x])
                x = x + 1
            valor_max = ["valor máximo encontrado", coluna.max()]
            valor_min = ["valor mínimo encontrado", coluna.min()]
            valor_med = ["média entre valores", coluna.mean()]
            desvio_padrao = ["desvio padrão", coluna.std()]
            variancia = ["A variância é:", coluna.var()]
            desvio_absoluto = ["Desvio absoluto", coluna.mad()]
            mediana = ["Mediana", coluna.median()]
            valores = [valor_max, valor_min, valor_med, desvio_padrao, variancia, desvio_absoluto, mediana]
            valores = pd.DataFrame(valores)
            return valores
        
        except ValueError:
            print('Ops, algum erro ocorreu!')
                
    def tratamento_completo(dataset, identidade_nulo):
        pass

In [434]:
tratar_dados.tratar_dataset(df, '?')
df

C:\Users\Estudos\AppData\Local\Temp/ipykernel_14804/2387577503.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados[x] = int(valores_normais.mean())

,idade,sexo,tipo_de_dores,pressao_sanguinea,colesterol,acucar_no_sangue,rest_ecg?,maior_indice_de_batimentos,exang,oldpeak,slope,ca,thal,num
0,32,1,1,95,0,0,0,127,0,.7,1,1,5,1
1,34,1,4,115,0,0,0,154,0,.2,1,1,5,1
2,35,1,4,130,0,0,0,130,1,0,1,1,7,3
3,36,1,4,110,0,0,0,125,1,1,2,1,6,1
4,38,0,4,105,0,0,0,166,0,2.8,1,1,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,70,1,4,115,0,0,1,92,1,0,2,1,7,1
119,70,1,4,140,0,1,0,157,1,2,2,1,7,3
120,72,1,3,160,0,0,2,114,0,1.6,2,2,5,0
121,73,0,3,160,0,0,1,121,0,0,1,1,3,1
122,74,1,2,145,0,0,1,123,0,1.3,1,1,5,1

In [463]:
dados = tratar_dados.mostrar_dados(df['maior_indice_de_batimentos'])

C:\Users\Estudos\AppData\Local\Temp/ipykernel_14804/3141416704.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coluna[x] = int(coluna[x])

In [466]:
dados

                         0           1
0  valor máximo encontrado  182.000000
1  valor mínimo encontrado   60.000000
2      média entre valores  121.552846
3            desvio padrão   25.870802
4           A variância é:  669.298414
5          Desvio absoluto         NaN
6                  Mediana  121.000000